/*@media screen and (min-width: 768px){
}*/
    .indice {
        padding-top: 48px;
        padding-bottom: 48px;
    }


    .peliculas {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .padding-title-principal{
        padding-bottom: 40px;
    }

