<div ng-controller="principalController as principalCtrl" class="container-fluid">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Nuestras películas</span>
            </h1>

        </div>

    </div>

    <div class="container-fluid row">

        <div class="col-lg-3 col-md-4 row">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Acceder</h3>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="usuario">DNI</label>
                        <input type="text" class="form-control" id="usuario" name="usuario" ng-model="principalCtrl.principal.usuario">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="principalCtrl.principal.password">
                    </div>

                    <div class="form-group">

                        <div class="col-lg-12 alert alert-danger" ng-if="principalCtrl.principal.errorAutenticacion" role="alert">
                            <strong>Error en autenticación</strong>
                        </div>

                        <div class="col-lg-12">
                            <a type="button" class="btn btn-lg btn-default" href="#/registro">
                                Regístrate
                            </a>
                            <button type="button" class="btn btn-lg btn-primary col-lg-4 col-lg-offset-1" ng-click="principalCtrl.principalService.autenticacion();">Entrar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-1 col-md-7">

            <div class="row">
                <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-1 col-xs-10 col-xs-offset-1" ng-repeat="pelicula in principalCtrl.pelicula.data">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <b>{{pelicula.titulo}} ({{pelicula.annio}})</b></h3>
                            <h4 class="panel-title"> {{pelicula.director}} </h4>
                        </div>
                        <div class="panel-body">
                            <img src="./img/{{pelicula.url}}" height="150" width="150"/>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>