<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Alertas</b>
            <span class="label label-danger right">PENDIENTE DE DEVOLUCIÓN</span>
        </h3>
    </div>
    <div class="panel-body tamanio-panel-alertas overflow-paneles">

            <ul class="list-group">

                <div ng-repeat="prestamo in principalAdministradorCtrl.prestamo.data | filter: {estado:'alquilada'}" >

                    <div class="list-group-item alert alert-danger" role="alert"
                         ng-if="(prestamo.estado === 'alquilada') && (prestamo.devolucion.getTime() < principalAdministradorCtrl.util.fechaActual.getTime())"
                         ng-init="pelicula = (principalAdministradorCtrl.utilService.peliculaByIdPrestamo(prestamo.copia_id)); copia = (principalAdministradorCtrl.utilService.copiaById(prestamo.copia_id));">

                        <span ng-init="cliente = (principalAdministradorCtrl.principalAdministradorService.clienteByDni(prestamo.cliente_id))">
                             El cliente <b> {{cliente.nombre}}, {{cliente.apellidos}} </b> (DNI: <b>{{cliente.dni}}</b>) devió devolver la copia <b>{{prestamo.copia_id}}</b> (<b>{{ pelicula.titulo }}</b>)
                             el <b> {{prestamo.devolucion.toLocaleDateString()}} </b>
                            <br>
                            <span class="label label-danger dias-retraso"> {{principalAdministradorCtrl.principalAdministradorService.diasDesdeDevolucion(prestamo.devolucion)}} días de retraso</span>

                        </span>

                    </div>
                </div>

            </ul>

    </div>
</div>