<div ng-controller="peliculaController as peliculaCtrl" class="container-fluid">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Creación de nueva Película</span>
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 col-lg-offset-3">

            <div ng-if="peliculaCtrl.pelicula.mensaje !== undefined && peliculaCtrl.pelicula.mensaje !== null" class="alert alert-success" role="alert">
                <strong>Éxito</strong> {{peliculaCtrl.pelicula.mensaje}}
            </div>

            <div class="row">

                <form name="creacionPelicula" class="form-horizontal">

                    <div class="form-group">
                        <label for="titulo">Título de la película</label>
                        <input type="text" required ng-model="peliculaCtrl.pelicula.nueva.titulo" name="titulo" size="40" maxlength="100" class="form-control" id="titulo">
                    </div>

                    <div class="form-group">
                        <label for="director">Director</label>
                        <input type="text" required ng-model="peliculaCtrl.pelicula.nueva.director" name="director"  size="40" maxlength="100" class="form-control" id="director">
                    </div>

                    <div class="form-group">
                        <label for="annio">Año</label>
                        <input type="number" required ng-model="peliculaCtrl.pelicula.nueva.annio" name="annio" min="1888" class="form-control" id="annio">
                    </div>

                    <div class="form-group">
                        <label for="url">Nombre de la imagen (Ejemplo: tiburon.jpeg, Indiana_Jones.jpg,... )</label>
                        <input type="text" required ng-model="peliculaCtrl.pelicula.nueva.url" name="url"  size="40" maxlength="300" class="form-control" id="url">
                    </div>

                    <div class="form-group">

                        <div class="col-sm-offset-1 col-sm-3">
                            <button type="submit" class="btn btn-primary" ng-click="peliculaCtrl.peliculaService.crear(creacionPelicula);">Generar Película</button>
                        </div>

                        <div class="col-sm-offset-1 col-sm-3">
                            <a type="button" class="btn btn-lg btn-info" href="#/peliculas">
                                Cancelar
                            </a>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>
</div>