<div ng-controller="peliculaController as peliculaCtrl" class="container-fluid indice">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Tabla de películas</span>
            </h1>

        </div>

        <div class="col-lg-2 col-lg-offset-1">

            <a type="button" class="btn btn-lg btn-primary" href="#/peliculas/add">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Nueva película
            </a>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">

            <div class="row">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Director</th>
                        <th>Año</th>
                        <th>Imagen</th>
                        <th>Núm. Copias</th>
                        <th>Comprar copias</th>
                        <th>Editar</th>
                        <th>Eliminar película</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pelicula in peliculaCtrl.pelicula.data">
                            <td>{{pelicula.titulo}}</td>
                            <td>{{pelicula.director}}</td>
                            <td>{{pelicula.annio}}</td>
                            <td>
                                <img src="./img/{{pelicula.url}}" height="120" width="80"/>
                            </td>
                            <td>
                                <span class="label label-info">{{pelicula.copia.length}}</span>
                            </td>
                            <td style="text-align:left;">
                                <div class="form-horizontal">
                                    <div class="form-group" ng-init="peliculaCtrl.pelicula.array_compras[$index] = 0">
                                        <button type="button" class="btn btn-lg btn-primary" ng-click="peliculaCtrl.peliculaService.restarCopiaComprar($index);">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                        <div class="col-sm-6">
                                            <input ng-model="peliculaCtrl.pelicula.array_compras[$index]" type="number" value="0" class="form-control">
                                        </div>
                                        <button type="button" class="btn btn-lg btn-primary" ng-click="peliculaCtrl.peliculaService.sumarCopiaComprar($index);">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-lg btn-primary" ng-click="peliculaCtrl.peliculaService.comprar($index,pelicula.id);">Comprar</button>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-lg btn-primary" ng-click="peliculaCtrl.peliculaService.lanzaEditar(pelicula.id);">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-lg btn-primary" ng-click="peliculaCtrl.peliculaService.eliminar(pelicula.id);">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>