<div ng-controller="clienteController as clienteCtrl" class="container-fluid indice">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Tabla de clientes</span>
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">

            <div class="row">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Dni</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Código Postal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cliente in clienteCtrl.cliente.data">
                        <td>{{cliente.dni}}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apellidos}}</td>
                        <td>{{cliente.cp}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>