<div ng-controller="clienteController as clienteCtrl" class="container-fluid">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Registro de usuario</span>
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 col-lg-offset-3">

            <div ng-if="clienteCtrl.cliente.mensaje !== undefined && clienteCtrl.cliente.mensaje !== null" class="alert alert-success" role="alert">
                <strong>Registrado</strong> {{clienteCtrl.cliente.mensaje}}
            </div>

            <div class="row">

                <form name="autenticacion" class="form-horizontal">

                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" required ng-model="clienteCtrl.cliente.nuevo.dni" name="dni" size="9" class="form-control" id="dni">
                    </div>

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" required ng-model="clienteCtrl.cliente.nuevo.nombre" name="nombre" size="30" class="form-control" id="nombre">
                    </div>

                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" required ng-model="clienteCtrl.cliente.nuevo.apellidos" name="apellidos" size="60" class="form-control" id="apellidos">
                    </div>

                    <div class="form-group">
                        <label for="cp">Código Postal</label>
                        <input type="number" size="5" ng-model="clienteCtrl.cliente.nuevo.cp" name="cp" class="form-control" id="cp">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" required ng-model="clienteCtrl.cliente.nuevo.password" name="password" size="32" class="form-control" id="password">
                    </div>

                    <div class="form-group">

                        <div class="col-sm-offset-1 col-sm-3">
                            <button type="submit" class="btn btn-primary" ng-click="clienteCtrl.clienteService.registrar(autenticacion);">Confirmar</button>
                        </div>

                        <div class="col-sm-offset-1 col-sm-3">
                            <a type="button" class="btn btn-lg btn-info" href="#/principal">
                                Cancelar
                            </a>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>
</div>