<div ng-controller="prestamoController as prestamoCtrl" class="container-fluid indice">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Tabla de prestamos</span>
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">

            <div class="row">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Película</th>
                            <th>Imagen Película</th>
                            <th>Nombre</th>
                            <th>DNI</th>
                            <th>Fecha recogida</th>
                            <th>Fecha devolución</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prestamo in prestamoCtrl.prestamo.data" ng-init="copia = (prestamoCtrl.utilService.copiaById(prestamo.copia_id));
                    cliente=(prestamoCtrl.utilService.buscarClienteByDNI(prestamo.cliente_id))">
                        <td ng-init="pelicula = (prestamoCtrl.utilService.buscarPelicula(copia.pelicula_id));">{{pelicula.titulo}}</td>
                        <td>
                            <img src="./img/{{pelicula.url}}" height="120" width="80"/>
                        </td>
                        <td>{{cliente.nombre}},{{cliente.apellidos}} </td>
                        <td>{{prestamo.cliente_id}}</td>
                        <td>{{prestamo.recogida | date : "dd-MM-yyyy"}}</td>
                        <td>{{prestamo.devolucion | date : "dd-MM-yyyy"}}</td>
                        <td>
                            <div ng-if="prestamo.estado === 'devuelta'">
                                <span class="label label-success">Devuelta</span>
                            </div>
                            <div ng-if="(prestamo.estado === 'alquilada') && (prestamo.devolucion.getTime() < prestamoCtrl.util.fechaActual.getTime())">
                                <span class="label label-danger">Devolver urgente</span>
                            </div>
                            <div ng-if="(prestamo.estado === 'alquilada') && (prestamo.devolucion.getTime() >= prestamoCtrl.util.fechaActual.getTime())">
                                <span class="label label-primary">Alquilada</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>