<div ng-controller="headerController as headerCtrl" layout="row" class="container" flex>

    <div class="container-fluid" ng-show="headerCtrl.headers.rol === 'cliente'">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/principalCliente">DVD Fast Cliente</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/principalCliente/peliculasCliente">Mis peliculas visionadas</a></li>
                <li><a href="#/principalCliente/prestamosCliente">Mis préstamos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/principal" ng-click="headerCtrl.headers.rol = ''">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid" ng-show="headerCtrl.headers.rol === 'administrador'">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/principalAdministrador">DVD Fast Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/peliculas">Películas</a></li>
                <li class="active"><a href="#/copias">Copias</a></li>
                <li><a href="#/clientes">Clientes</a></li>
                <li><a href="#/prestamos">Préstamos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/principal" ng-click="headerCtrl.headers.rol = ''">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>

</div>