<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Alertas</b>
            <span class="label label-danger right">PENDIENTE DE DEVOLUCIÓN</span>
        </h3>
    </div>
    <div class="panel-body tamanio-panel-alertas overflow-paneles">

            <ul class="list-group">

                <div ng-repeat="prestamo in principalClienteCtrl.principalCliente.prestamos" >

                    <div class="list-group-item alert alert-danger" role="alert"
                         ng-if="(prestamo.estado === 'alquilada') && (prestamo.devolucion.getTime() < principalClienteCtrl.util.fechaActual.getTime())"
                         ng-init="pelicula = (principalClienteCtrl.utilService.peliculaByIdPrestamo(prestamo.copia_id)); copia = (principalClienteCtrl.utilService.copiaById(prestamo.copia_id));">

                        <span>
                             La película <b> {{ pelicula.titulo }}</b>
                             debió ser devuelta el <b> {{prestamo.devolucion.toLocaleDateString()}} </b>
                        </span>

                    </div>
                </div>

            </ul>

    </div>
</div>