<div ng-controller="principalClienteController as principalClienteCtrl" class="container-fluid">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Mis peliculas visionadas</span>
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1" ng-init="peliculas = (principalClienteCtrl.principalClienteService.peliculasCliente())">

                <!--<div class="row" ng-repeat="prestamo in principalClienteCtrl.prestamo.data | filter: {cliente_id: principalClienteCtrl.principalCliente.cliente}">

                    <div class="list-group-item alert alert-danger" role="alert" ng-repeat="copia in principalClienteCtrl.copia.data | filter:{id:prestamo.copia_id}">

                        <span ng-init=" pelicula = (principalClienteCtrl.principalClienteService.buscarPelicula(copia.pelicula_id))">
                            {{ pelicula.titulo }}

                            {{pelicula.director}}


                        </span>

                    </div>
                </div>-->

            <div class="row">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Director</th>
                        <th>Año</th>
                        <th>Imagen</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pelicula in peliculas">
                            <td>{{pelicula.titulo}}</td>
                            <td>{{pelicula.director}}</td>
                            <td>{{pelicula.annio}}</td>
                            <td>
                                <img src="./img/{{pelicula.url}}" height="120" width="80"/>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>