<div ng-controller="principalClienteController as principalClienteCtrl" class="container-fluid">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Mis prestamos</span>
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">

            <!--<div class="row" ng-repeat="prestamo in principalClienteCtrl.prestamo.data | filter: {cliente_id: principalClienteCtrl.principalCliente.cliente}">

                <div class="list-group-item alert alert-danger" role="alert" ng-repeat="copia in principalClienteCtrl.copia.data | filter:{id:prestamo.copia_id}">

                    <span ng-init=" pelicula = (principalClienteCtrl.principalClienteService.buscarPelicula(copia.pelicula_id))">
                        {{ pelicula.titulo }}

                        {{pelicula.director}}


                    </span>

                </div>
            </div>-->
            <div class="row">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Pelicula</th>
                        <th>Imagen</th>
                        <th>Fecha de recogida</th>
                        <th>Fecha de devolución</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prestamo in principalClienteCtrl.principalCliente.prestamos"
                              ng-init="pelicula = (principalClienteCtrl.utilService.peliculaByIdPrestamo(prestamo.copia_id)); copia = (principalClienteCtrl.utilService.copiaById(prestamo.copia_id));">
                        <td>{{pelicula.titulo}}</td>
                        <td>
                            <img src="./img/{{pelicula.url}}" height="120" width="80"/>
                        </td>
                        <td>{{prestamo.recogida | date : "dd-MM-yyyy"}}</td>
                        <td>{{prestamo.devolucion | date : "dd-MM-yyyy"}}</td>
                        <td>
                            <div ng-if="prestamo.estado === 'devuelta'">
                                <span class="label label-success">Devuelta</span>
                            </div>
                            <div ng-if="(prestamo.estado === 'alquilada') && (prestamo.devolucion.getTime() < principalClienteCtrl.util.fechaActual.getTime())">
                                <span class="label label-danger">Devolver urgente</span>
                            </div>
                            <div ng-if="(prestamo.estado === 'alquilada') && (prestamo.devolucion.getTime() >= principalClienteCtrl.util.fechaActual.getTime())">
                                <span class="label label-primary">Alquilada</span>
                            </div>
                        </td>
                        <td>
                            <div ng-if="(prestamo.estado === 'alquilada')">
                                <button type="button" class="btn btn-lg btn-primary" ng-click="principalClienteCtrl.principalClienteService.devolver(prestamo);">Devolver</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>