.margin-button-alquilar{
    margin-top:15px;
}

.tamanio-panel-alertas {
    height: 250px;
}

.tamanio-panel-compra {
    height: 450px;
}

.overflow-paneles{
    overflow-y: scroll;
    overflow-x: hidden;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align:center;
}

.table > thead > tr > th {
    text-align:center;
}