<div ng-controller="principalClienteController as principalClienteCtrl" class="container-fluid">

    <div class="row padding-title-principal">

        <div class="col-lg-3 col-lg-offset-6">

            <h1>
                <span class="label label-primary"> Panel principal del cliente </span>
            </h1>

        </div>

    </div>

    <div class="container-fluid row">

        <div class="col-lg-3 col-md-4">

            <div class="row" ng-include="'./templates/alerta.template.html'"></div>

            <div class="row" ng-if="principalClienteCtrl.principalCliente.micompra.length > 0" ng-include="'./templates/resumenCompra.template.html'"></div>

        </div>

        <div class="col-lg-8  col-lg-offset-1 col-md-7">

            <div class="row">

                    <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-1 col-xs-10 col-xs-offset-1" ng-repeat="pelicula in principalClienteCtrl.pelicula.data">

                        <div class="panel panel-default" ng-init="copiasDisponibles = (pelicula.copia | filter:{alquilada:false})">
                            <div class="panel-heading">
                                <h3 class="panel-title"> <b>{{pelicula.titulo}} ({{pelicula.annio}})</b></h3>
                                <h4 class="panel-title"> {{pelicula.director}} </h4>
                                <span class="label" ng-class="{'label-danger': copiasDisponibles.length ===0,'label-success': copiasDisponibles.length > 0 }"> {{copiasDisponibles.length}} copias disponibles </span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <img src="./img/{{pelicula.url}}" height="150" width="150"/>
                                </div>
                                <div ng-if="copiasDisponibles.length > 0" class="row margin-button-alquilar">
                                    <button type="button" class="col-lg-offset-4 col-lg-4 btn btn-lg btn-success" ng-click="principalClienteCtrl.principalClienteService.addPeliculaCompra(pelicula);">Alquilar</button>
                                </div>

                                <div ng-if="copiasDisponibles.length === 0" class="row margin-button-alquilar">
                                    <span class="col-lg-offset-1 col-lg-10 label label-info">Disponible el día {{principalClienteCtrl.utilService.fechaMinima(pelicula.id)}}</span>
                                </div>

                            </div>
                        </div>

                    </div>

            </div>

        </div>

    </div>

</div>