<div class="panel panel-info" ng-if="!principalClienteCtrl.principalCliente.compraRealizada">
    <div class="panel-heading">
        <h3 class="panel-title">Resumen de compra
        </h3>
    </div>
    <div class="panel-body tamanio-panel-compra overflow-paneles">

        <ul class="list-group">

                <div class="list-group-item alert alert-info" role="alert" ng-repeat="pelicula in principalClienteCtrl.principalCliente.micompra">

                    <h4 class="panel-title"> <b>{{pelicula.titulo}} ({{pelicula.annio}})</b></h4>
                    <h5 class="panel-title"> {{pelicula.director}} </h5>

                </div>

        </ul>

        <button type="button" class="col-lg-offset-2 col-lg-8 btn btn-lg btn-primary" ng-click="principalClienteCtrl.principalClienteService.confirmarCompra();">Confirmar Compra</button>

    </div>
</div>

<div ng-if="principalClienteCtrl.principalCliente.compraRealizada" class="alert alert-success" role="alert">
    <strong>Éxito</strong> Compra Realizada
</div>