<div ng-controller="copiaController as copiaCtrl" class="container-fluid indice">

    <div class="row padding-title-principal">

        <div class="col-lg-4 col-lg-offset-4">

            <h1>
                <span class="label label-primary">Tabla de copias</span>
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">

            <div class="row">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id Copia</th>
                        <th>Pelicula</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th>Eliminar copia</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="copia in copiaCtrl.copia.data" ng-init="pelicula = (copiaCtrl.utilService.buscarPelicula(copia.pelicula_id))">
                            <td>{{copia.id}}</td>
                            <td >{{pelicula.titulo}}</td>
                            <td>
                                <img src="./img/{{pelicula.url}}" height="120" width="80"/>
                            </td>
                            <td>
                                <div ng-if="copia.alquilada">
                                    <span class="label label-warning">Alquilada</span>
                                </div>
                                <div ng-if="!copia.alquilada">
                                    <span class="label label-info">Disponible</span>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-lg btn-primary" ng-click="copiaCtrl.copiaService.eliminar_copia(copia.id);">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>